@charset "utf-8";

*		{ margin: 0px; padding: 0px; border: 0px; }

html	{ 
  	height: 100.1%;
	background-color: #E9EAED;
  	font-family: Arial;
}

body	{ }

/**** GRUNDGERÜST ****/
div#wrapper { 
  	width: 100%; 
  	margin: 0px auto; 
	
}

/** kopfbereich **/
div#head { 
  	z-index: 1000000;
    width: 100%;
    height: 100px;
    position: fixed !important;
  	background-color: #ffffff; 
    box-shadow: #06693A 0px 0px 15px;
    
    }
/** logo **/
div#logo {
  	float: left;
  	background: url(../images/logo.png);
  	height: 100px;
  	width: 237px;
}

/** contentbereich **/
div#content { 
  	z-index: 999999;
  	position: relative;
  	width: 1200px; 
  	min-height: 400px;
  	height: auto;
	top: 130px;
  	margin: auto;
  	
  	
  	}

div#news { 
  	width: 20%;
  	min-height: 200px;
  	float: right; 
  	box-shadow: #06693A 0px 0px 15px;
	background-color: #FFFFFF;
  	
}

div#component { 
  	width:75%;
  	float: left;
  	position: absolute;
	background-color: #FFFFFF;
  	box-shadow: #06693A 0px 0px 15px;
  	margin: auto;

}
div#menu { width: 0px; border: 1px solid green; }

/** footerbereich **/

div#footer { 
  	z-index: 999998;
  	position:relative;
  	width: 100%; 
  	height: 30px; 
	background-color: #ffffff;
  	box-shadow: #06693A 0px 0px 15px;
}


